
.nav{
    margin-left: 20px;
    margin-top: 20px;
}
.nav li{
    display: inline;
    margin-left: 50px;
    text-align: right;
    
  }
  
  .nav a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
  }