.header{
    /* position: fixed; */
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
}
.header .logo{
    height: 70px;
    margin-top: 20px;
    
    
}

.nav{
    margin-left: 20px;
}
.nav li{
    display: inline;
    margin-left: 50px;
    text-align: right;
    
  }
  
  .nav a{
    text-decoration: none;
    color: snow;
    font-weight: bold;
  }