.auth-style{
    background-color: #FFFFF0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-style form input{
  margin: 5px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

hr{
    background-color: fuchsia
}

